<div class="jumbotron">
  <h1 class="display-4">Welcome to friend List !</h1>
  <p class="lead">Here you can make a list of your friends</p>
  <hr class="my-4">
  <p>Go to friends to see all of your friends </p>
  <p class="lead">
    <%= link_to "Friends", friends_path, class:"btn btn-primary btn-dark" %>
 
  </p>
</div>